div.contact {
	height:70px;
	width: 100%;
	position: relative;
}

div.contact img {
	height:64px;
	width:64px;
	float:left;
	margin-right: 10px;
	margin-top:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	/* -moz-box-shadow: rgba(0,0,0,.5) 2px 2px 6px;
	-webkit-box-shadow: rgba(0,0,0,.5) 2px 2px 6px;*/
}

div.contact .name {
	display:inline;
	font-weight:bold;
}

div.contact .name span {
	font-weight:normal;
	font-style:italic;
	float:right;
}

div.contact .buttonseries {
	position:absolute;
	width:100%;
	top:45px;
	left:5px;
	right:5px;
	height:25px;
	bottom:2px;
}

div.contact .buttonseries .textbutton {
	float:right;
	padding-right:7px;
}
